-r requirements.txt
GitPython==3.1.44
interrogate==1.7.0
isort==6.0.0
lxml==5.3.0
mypy==1.14.1
packaging==24.2
pip-audit==2.7.3
pytest==8.3.4
pytest-randomly==3.16.0
ruff==0.9.4
types-pyyaml==6.0.12.20241230
