name: Release Pipeline

on:
  push:
    tags: [ "v*" ]

jobs:
  style:
    uses: ./.github/workflows/style.yml

  test:
    needs: [ style ]
    uses: ./.github/workflows/test.yml

  wheel:
    needs: [ test ]
    uses: ./.github/workflows/wheel.yml

  github:
    needs: [ wheel ]
    runs-on: windows-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Set up Python environment"
        uses: ./.github/actions/setup-python

      - name: "Download venvflon packages"
        uses: actions/download-artifact@v6
        with:
          merge-multiple: true
          pattern: |
            venvflon_*

      - name: "Release Notes"
        id: version
        run: |
          $venvflon_ver = python scripts/latest_tag.py . 0
          Write-Output "number=$venvflon_ver" >> $env:GITHUB_OUTPUT
          $changelog = Get-Content .\CHANGELOG.md
          $last_change = ($changelog | Select-String -Pattern "^##\s" | Select-Object -Skip 1 -First 1).LineNumber - 3
          ($changelog | Select-Object -First $last_change -Skip 1) -join "`n" | Out-File .\RELEASENOTES.md

      - name: "Create Release"
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.VENVFLON_REL_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          name: venvflon ${{ steps.version.outputs.number }}
          body_path: RELEASENOTES.md
          draft: false
          prerelease: false
          files: |
            venvflon-${{ steps.version.outputs.number }}-py3-none-any.whl
            venvflon-${{ steps.version.outputs.number }}.tar.gz

  pypi:
    needs: [ wheel ]
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write

    steps:
      - name: "Download venvflon wheel"
        uses: actions/download-artifact@v6
        with:
          name: venvflon_wheel

      - name: "Publish venvflon to PyPI"
        run: |
          mkdir dist
          mv *.whl *.tar.gz dist/
          ls -la dist/

      - name: "Deploy to PyPI"
        uses: pypa/gh-action-pypi-publish@release/v1
