name: Style

on: workflow_call

jobs:
  interrogate:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Set up Python environment"
        uses: ./.github/actions/setup-python

      - name: "Check interrogate"
        run: |
          interrogate -c pyproject.toml -vv

  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Set up Python environment"
        uses: ./.github/actions/setup-python

      - name: "Check Ruff"
        run: |
          ruff check src

  mypy:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Set up Python environment"
        uses: ./.github/actions/setup-python

      - name: "Check mypy"
        run: |
          mypy .

      - name: "Upload mypy results"
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: mypy_3_14
          path: |
            mypyhtml/*
          retention-days: 4
