name: Build venvflon wheel package

on: workflow_call

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Set up Python environment"
        uses: ./.github/actions/setup-python

      - name: "Build venvflon wheel package"
        shell: bash
        run: |
          python -m build
          python -m twine check dist/*

      - name: "Upload venvflon wheel"
        uses: actions/upload-artifact@v5
        with:
          name: venvflon_wheel
          path: |
            dist/*.whl
            dist/*.tar.gz
